@media (max-width:1250px){/*Del pixel 0 al 1250 aplico estos estilos*/
    .wrap{
        width: 90%;
        margin: 0px auto;
    }

    #banner h1{
        width: 100%;
        font-size: 35px;
        text-align: center;
        margin: 33px auto;
    }

    .card{
        width: 17%;
        margin: 1.45%;
    }

    .card p{
        display: block;
        margin: 0px auto;
        text-align: center;
        width: 90%;
    }

    #articles{
        width: 65%;
    }

    #articles article{
        width: 97%;
    }

    #footer .wrap > div{
        width: 24%;
    }

    #footer #browsers img{
        width: 14%;
    }

    #footer h5{
        font-size: 30px;
    }
}

@media (max-width:1080px){
    .card .category{
        font-size: 17px;
    }

    .card .description{
        font-size: 14px;
    }

    #articles{
        width: 61%;
    }
}

@media (max-width:970){
    #articles{
        width: 59%;
    }

    #footer h5{
        font-size: 22px;
    }

    #footer .warp > div{
        width: 26%;
        margin: 20px;
    }
}

@media (max-width:968px){
    #articles{
        width: 65%;
    }
    #lateral{
        width: 25%;
    }

    #lateral input[type="text"]{
        width: 78%;
    }

    .aside-box{
        width: 95%;
        min-height: 140px;
        height: auto;
        padding-bottom: 10px;
        
    }

    #login a{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #login input[type="email"],
    #login input[type="password"]{
        width: 65%;
    }

    #login #user,
    #login #password{
        margin-left: 24px;
    }
    #login input[type="submit"],
    #login input[type="button"],
    #login input[type="reset"],
    #login button{
        margin-bottom: 0px;
    }

    #login input[type="reset"]{
        display: none;
    }

}

@media (max-width:952px){
    #footer h5{
        font-size: 22px;
    }
    #footer .wrap > div{
        width: 23%;
    }        

}

@media (max-width:899px){
    #lateral h3{
        font-size: 20px;
    }
}

@media (max-width:860px){
    #footer .wrap > div{
        width: 22%;
    }   
}
@media (max-width:799px){
    #banner h1{
        font-size: 29px;
    }
    .card{
        height: auto;
    }
    .card .description{
        display: none;
    }
    .card .category{
        font-size: 15px;
        margin-top: -23px;
    }
    #footer .wrap > div{
        width: 20%;
    }   
    #footer h5{
        font-size: 17px;
    }
    #footer img{
        margin-bottom: 15px;
        max-width: 100%;
    }
}
@media (max-width:880px){
    
}
@media (max-width:724px){
    #header{
        width: 100%;
        height: 135px;
        padding-top: 10px;
        height: 120px;
    }
    #logo{
        float: none;
        width: 200px;
        margin: 0px auto;
    }

    #menu{
        clear: both;
        float: none;
        width: 440px;
        margin: 0 auto;
    }

    #lateral input[type="text"]{
        width: 70%;
    }
    
}
@media (max-width:666px){
    #footer .wrap > div{
        width: 19%;
    }
}
@media (max-width:660px){
    #articles{
        float: none;
        width: 100%;
        margin: 0px auto;
        min-height: auto;
        
    }

    #lateral{
        float: none;
        width: 100%;
        margin: 0px auto;
        min-height: auto;
        margin-top: 20px;
    }

    #banner h1{
        font-size: 25px;
    }

    #lateral input[type="text"]{
        width: 93%;
    }
}